<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/services" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Services</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>

<input type="search" id="search-input" placeholder="Search...">
<ul id="search-results"></ul>
<script>
const client = algoliasearch('7DNCJG9O9V', '48c491ffcaad66c31497355feb786639');
const index = client.initIndex('site');

const searchInput = document.querySelector('#search-input');
const searchResults = document.querySelector('#search-results');

searchInput.addEventListener('input', (event) => {
  const query = event.target.value;
  if (!query) {
    searchResults.innerHTML = '';
    return;
  }

  index.search(query).then(({ hits }) => {
    searchResults.innerHTML = hits
      .map((hit) => `<li><a href="${hit.url}">${hit.title}</a></li>`)
      .join('');
  });
});
</script>
